# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [ ]:
DATA_FOLDER = './Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

### Assumptions
- We only consider the totals/national fields, not the values per district/region. Sometimes, the sum of the values per region is a bit higher than the total. We assume that's because some smaller regions are not shown in the data.
    - For this reason, if the *Totals* value is NaN, we cannot just sum up the values of the different regions.
- The fields "National" in SL and Liberia mean the same as the "Totals" field in Guinea, i.e. the Total number of cases in the country.
- When there's a NaN (the value was not filled), we assume that the data was lost, or not written down.
- We are only interested in the Totals/National columns. If a row contains a NaN in this column, we chose to discard the row. This should not be problematic (if the number of NaNs in *Totals* is reasonably low), since we consider the daily **average** per month.
- Since we don't have additionnal information on the data, especially about the meanings of some fields, we decide to compute the new cases separaterly for the confirmed, probable and suspect cases. Same goes for the deaths.

### Process
- first, we import the data and store it separately for each country
- then we rename the fields that we will use (Totals, Description,...) so that they are the same for each country
- we also add two new fields "Country" and "Month" (derived from Date) in each of the 3 dataframes, to simplify the process for later
- We then concatenate the 3 dataframes into a single dataframe, called *full_data*
- Then, to facilitate readability we crop this dataframe (keep only the columns *month*, *Description*, *Totals*, *Country*) and store the result in *full_data_crop*
- We do a couple of sanity checkups, to ensure that the data is well-formated and not erroneous (1 <= month <= 12, no NaN value, etc)

In [2]:
# imports
import pandas as pd
import os
import numpy as np

In [18]:
# import data
guinea = []
liberia = []
sl = []
dfs = [guinea, liberia, sl]
i = 0
folders = ["guinea_data", "liberia_data", "sl_data"]
for folder in folders:
    path = DATA_FOLDER + "/ebola/"
    for file in os.listdir(path + folder):
        dfs[i].append(pd.read_csv(path + folder + '/' + file))
    i += 1

In [19]:
# import Guinea data into DataFrame
guinea = pd.DataFrame()
i = 0
for df in dfs[0]:
    df['Country'] = 'Guinea' # set the new country column
    dfs[0][i] = df
    i += 1
guinea = pd.concat(dfs[0])
guinea.head(2)

,Beyla,Boffa,Conakry,Country,Coyah,Dabola,Dalaba,Date,Description,Dinguiraye,...,Kouroussa,Lola,Macenta,Mzerekore,Nzerekore,Pita,Siguiri,Telimele,Totals,Yomou
0,NaN,0,5,Guinea,NaN,0,NaN,2014-08-04,New cases of suspects,0,...,0,NaN,0,NaN,0,0,0,0,5,NaN
1,NaN,0,0,Guinea,NaN,0,NaN,2014-08-04,New cases of probables,0,...,0,NaN,0,NaN,0,0,0,0,0,NaN

In [20]:
# import liberia data into DataFrame
liberia = pd.DataFrame()
i = 0
for df in dfs[1]:
    df['Country'] = 'Liberia'
    df = df.rename(columns = {'National':'Totals', 'Variable':'Description'})
    dfs[1][i] = df
    i += 1
liberia = pd.concat(dfs[1])
liberia.head(2)

,Bomi County,Bong County,Country,Date,Description,Gbarpolu County,Grand Bassa,Grand Cape Mount,Grand Gedeh,Grand Kru,Lofa County,Margibi County,Maryland County,Montserrado County,Nimba County,River Gee County,RiverCess County,Sinoe County,Totals,Unnamed: 18
0,NaN,NaN,Liberia,6/16/2014,Specimens collected,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.0,NaN
1,NaN,NaN,Liberia,6/16/2014,Specimens pending for testing,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN

In [21]:
# import Sierra Leone data into DataFrame
sl = pd.DataFrame()
i = 0
for df in dfs[2]:
    df['Country'] = 'Sierra Leone'
    df = df.rename(columns = {'National':'Totals', 'date' : 'Date', 'variable':'Description'})
    dfs[2][i] = df
    i += 1
sl = pd.concat(dfs[2])
sl.head(2)

,34 Military Hospital,Bo,Bo EMC,Bombali,Bonthe,Country,Date,Description,Hastings-F/Town,Kailahun,...,Police traning School,Port Loko,Pujehun,Tonkolili,Totals,Unnamed: 18,Western area,Western area combined,Western area rural,Western area urban
0,NaN,654142,NaN,494139,168729,Sierra Leone,2014-08-12,population,NaN,465048,...,NaN,557978,335574,434937,6348350,NaN,NaN,NaN,263619,1040888
1,NaN,0,NaN,0,0,Sierra Leone,2014-08-12,new_noncase,NaN,0,...,NaN,1,0,0,4,NaN,NaN,NaN,0,0

In [46]:
# merge dataframes
full_data = pd.concat([guinea, liberia, sl])

# remove each row whose 'Totals' value is NaN
n_col_before = full_data.shape[0]
full_data = full_data[full_data.Totals.notnull()]
n_col_after = full_data.shape[0]
print("Removed " + str(n_col_before-n_col_after) + " rows out of " + str(n_col_before))

# To facilitate readability, we discard all the columns we don't need
full_data_crop = full_data[['Country', 'Description', 'Totals', 'Date']]

Removed 1685 rows out of 7128

In [47]:
# This is what the dataframe that we'll use to compute the different values looks like so far
full_data_crop.head(2)

  Country             Description Totals        Date
0  Guinea   New cases of suspects      5  2014-08-04
1  Guinea  New cases of probables      0  2014-08-04

In [48]:
# Names and regexes that we use to process the Description

interests_rgx = ['(new_suspected|New cases of suspects|New Case\/s \(Suspected\))',
             '(new_probable|New cases of probables|New Case\/s \(Probable\))',
             '(new_confirmed|New cases of confirmed|New case\/s \(confirmed\))',
             '(death_suspected|Total deaths of suspects|Total death\/s in suspected cases)',
             '(death_probable|Total deaths of probables|Total death\/s in probable cases)',
             '(death_confirmed|Total deaths of confirmed|Total death\/s in confirmed cases)'
            ]
interests_names = ['New cases (suspected)', 'New cases (probable)', 'New cases (confirmed)',
                   'Deaths in suspected cases', 'Deaths in probable cases', 'Deaths in confirmed cases'
                  ]

In [49]:
# We decided to unstack the Descriptions column in other columns

# uniformize description in needed columns
for i in range(len(interests_rgx)):
    full_data_crop.Description = full_data_crop.Description.str.replace(interests_rgx[i], interests_names[i])

# remove un-needed rows based on Description column
_filter = full_data_crop.Description.isin(interests_names)
full_data_crop = full_data_crop[_filter]

# unstack data
full_data_crop.index = pd.MultiIndex.from_arrays([full_data_crop.Description.values, full_data_crop.Country.values, full_data_crop.Date.values])

# We discovered that there are 3 duplicated lines in the file 2014-10-04 from liberia
# We then had to delete the duplicated rows from the data so that we could unstack it
full_data_crop = full_data_crop[~full_data_crop.index.duplicated(keep='first')]
full_data_crop = full_data_crop.drop(['Description', 'Date', 'Country'], axis=1)

# unstack the Descriptions and remove unneccessary index level
full_data_crop = full_data_crop.unstack(level=0)
full_data_crop.columns = full_data_crop.columns.droplevel()
full_data_crop.head(5)

C:\Users\rbsteinm\Anaconda3\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

                  Deaths in confirmed cases Deaths in probable cases  \
Guinea 2014-08-04                       228                      133
       2014-08-26                       292                      141
       2014-08-27                       294                      142
       2014-08-30                       324                      142
       2014-08-31                       337                      150

                  Deaths in suspected cases New cases (confirmed)  \
Guinea 2014-08-04                         2                     4
       2014-08-26                         2                    10
       2014-08-27                         2                    10
       2014-08-30                         2                     9
       2014-08-31                         2                    29

                  New cases (probable) New cases (suspected)
Guinea 2014-08-04                    0                     5
       2014-08-26                 None                    18
       2014-08-27                    0                    12
       2014-08-30                    0                    15
       2014-08-31                    8                     9

In [50]:
# we noticed that the deaths are cumulative (everyday, you get the number of deaths so far, including the deaths that occured
# during previous days). Thus

### remarks
The following works but not entirely, as we see that the regexps do not match correctly in every file (there are 225 files in total). The number of matched files is printed under the cell. Still need to check why it noes not match everytime.

TODO deaths are cumulative, can clone column, shift it and substract

In [ ]:
# TODO remove that
# sl: 103 files
# guinea: 22 files
# liberia: 100 files
# total: 225 files
# we try to figure out where the regexes do not match

print(full_data_crop.Description[full_data_crop.Description.str.match('death_suspected')].size)
print(full_data_crop.Description[full_data_crop.Description.str.match('Total deaths of suspects')].size)
print(full_data_crop.Description[full_data_crop.Description.str.match('Total death\/s in confirmed cases')].size)

# actually we removed NaN rows, so that could still be ok
print(full_data.Date.unique().size)

In [ ]:
# test shift
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
   'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)
df = df.two.shift(1)
print(df)
assert(df.isnull().sum()==1)
df = df.fillna(0)
print(df)

In [ ]:
# compute the desired values

interests = ['(new_suspected|New cases of suspects|New Case\/s \(Suspected\))',
             '(new_probable|New cases of probables|New Case\/s \(Probable\))',
             '(new_confirmed|New cases of confirmed|New case\/s \(confirmed\))',
             '(death_suspected|Total deaths of suspects|Total death\/s in confirmed cases)',
             '(death_probable|Total deaths of probables|Total death\/s in probable cases)',
             '(death_confirmed|Total deaths of confirmed|Total death\/s in confirmed cases)'
            ]
death_interests = [
            '(death_suspected|Total deaths of suspects|Total death\/s in confirmed cases)',
            '(death_probable|Total deaths of probables|Total death\/s in probable cases)',
            '(death_confirmed|Total deaths of confirmed|Total death\/s in confirmed cases)'
            ]
all_means = []
for interest in interests:
    rows = full_data_crop[full_data_crop.Description.str.match(interest)]
    #print(rows.shape)
    rows.Totals = pd.to_numeric(rows.Totals)
    if(interest in death_interests):
        #print(type(rows))
        total_deaths = rows.Totals.shift(1).fillna(0)
        print('before: ')
        print(rows.Totals[1:10])
        rows.Totals = rows.Totals - total_deaths
        print('after: ')
        print(rows.Totals[1:10])
        
    merge_index = [rows.Month, rows.Country]
    means = rows.groupby(merge_index).agg(np.mean)
    #means = means[['Totals']]
    #assert((rows.Totals >= 0).all()) # assert that the Totals is always >= 0
    
    
    # test
    n_values = rows.groupby(merge_index).agg(['count', np.mean])
    #print(means)
    #print(n_values['Totals'])
    # /test

    means.columns = [interest]
    all_means.append(means)

current = all_means[0]
for mean in all_means[1:]:
    current = pd.merge(current, mean,  left_index=True, right_index=True)
current

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [ ]:
# Write your answer here

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here